# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Ignore Visual Studio specific files
.vs/
*.user

# Ignore build output directories
bin/
obj/

# Ignore specific directories
IShelf3/IShelf/Platforms/
IShelf3/IShelf/Properties/
IShelf3/IShelf/Resources/
IShelf3/WorkingFrontEnd1/
