# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Ignore Visual Studio specific files
.vs/
*.user

# Ignore build output directories
bin/
obj/

